<h1>Você é um Cliente ou um Dono de Buffet?</h1>

<p>
  <%= link_to "Registrar como um Cliente", new_client_registration_path(role: 'client') %>
</p>

<p>
  <%= link_to "Registrar como um Dono de Buffet", new_buffet_owner_registration_path(role: 'buffet_owner') %>
</p>