<h1> Editar Buffet </h1>

<%if @buffet.errors.any?%>
    <div>
        <h2>Erro ao cadastrar fornecedor</h2>
        <ul>
            <% @buffet.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= render 'form' %>

<%= link_to 'Voltar', buffet_profile_path(@buffet.id) %>
