<h1>New Event Price</h1>

<%if @event_price.errors.any?%>
    <div>
        <h2>Erro ao cadastrar fornecedor</h2>
        <ul>
            <% @event_price.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= render 'form', event_price: @event_price %>

<%= link_to 'Back', event_prices_path %>