<h1> Editar Tipo de Evento </h1>

<%if @event.errors.any?%>
    <div>
        <h2>Erro ao cadastrar fornecedor</h2>
        <ul>
            <% @event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= render 'form', event: @event %>
